<div class="panel panel-primary">
	<div class="panel-heading">Product List</div>

	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<td>
						<button class="btn btn-primary" type="button" ng-click="vm.toggleImage()">
							{{vm.showImage ? "Hide" : "Show"}} Image
						</button></td>
						<td>Product</td>
						<td>Code</td>
						<td>Available</td>
						<td>Price</td>
						<td>&nbsp;</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="p in vm.products">
						<td>
							<img ng-if="vm.showImage" style="width:50px; margin:2px" ng-src="{{p.imageUrl}}"
							title="{{p.productName}}">
						</td>
						<td><a ui-sref="productDetail({productId: p.productId})">{{p.productName}}</a></td>
						<td>{{p.productCode}}</td>
						<td>{{p.releaseDate}}</td>
						<td>{{p.price | currency }}</td>
						<td>
							<a ui-sref="productEdit.info({productId: p.productId})" class="btn btn-primary"> Edit</a>
						</td>
					</tr>
				</tbody>
			</table>	
		</div>

	</div>
